div{
    width: 100xp;
    height: 100xp;
    background-color: black;
    transition: all 1s ease-in 1s;
    position:relative;
    top: 100px;
    left:100px;
    transition-property: all;
    transition-delay: 2s;
    border-radius: 100%;;
    
}
div:hover{
    background-color: aqua;
    colour:white;
    font-family: fantasy;
    transform:rotate (400000000000deg);
}